body {
    background-image: url('./img/fundo.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
     color: white;
     font-family: Georgia, 'Times New Roman', Times, serif;
}